<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1> Name: {{about_me.name}} </h1> <br>
    <h2> Year of birth: {{about_me.yob}} </h2> 
    <h3> School: {{about_me.school}} </h3> 
    <h4> Hobbies: {{about_me.hobbies}} </h4> 
    <h5> Gender: {{about_me.gender}} </h5> 

    <hr>

</body>
</html>